* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --lightgreen: #8AF04A;
  --darkgreen: #54A322;
  --orange: #990011;
  --blue: #3C50F0;
  --bgbeige: #A37767;

}

body {
  background: var(--bgbeige);
  padding: 1vh 1vw;
}

header h1 {
  text-align: center;
  font-size: min(6vw, 58px);
  color: var(--blue);
  margin-bottom: 1em;
}

.rules-description {
  height: 20vh;
  margin-bottom: 2em;
}

#start-container {
  display: flex;
  justify-content: center;
}

.carousel {
  height: 40vh;
  max-width: 937px;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.carousel-header {
  font-size: min(4vw, 38px);
  color: var(--blue);
}

.carousel-monster-container {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-img-container {
  height: 95%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  height: 100%;
}

.carousel-monster-stats {
  height: 95%;
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 0 2%;
}

.carousel-monster-stats p, .carousel-monster-stats h3 {
  color: var(--blue);
}

.carousel-monster-stats h3 {
  font-size: 1.5em;
}

#carousel-button-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.battle {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}

#player-monster {
  border: 2px solid var(--lightgreen);
  color: var(--lightgreen);
}

#enemy-monster {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.monster {
  height: 90%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  border-radius: 5px;
}

.img {
  max-width: 25vw;
  max-height: 300px;
  margin-bottom: 2em;
}

.description {
  width: 98%;
  height: 48%;
}

#battle-log {
  height: fit-content;
  max-height: 90%;
  width: 30%;
  padding: .25em;
  color: var(--blue);
  overflow: hidden;
  font-size: max(3vw, 14px);
  display: flex;
  flex-direction: column-reverse;
}

#battle-log p {
  font-size: min(.75em, 22px);
  margin-bottom: .25em;
}

.dim {
  opacity: 0.25;

  transition: opacity .5s;
}

.modal {
  background-color: rgb(163, 119, 103, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-textbox {
  background-color: var(--bgbeige);
  height: 40vh;
  width: 60vw;
  max-width: 800px;
  margin: 30vh auto;
  text-align: center;
  border-radius: 5px;
}

.modal-textbox h1 {
  font-size: min(6vw, 58px);
  margin: 10% 0;
}

.modal-win {
  border: 2px solid var(--lightgreen);
  color: var(--lightgreen);
}

.modal-lose {
  border: 2px solid var(--orange);
  color: var(--orange);
}

.modal-button {
  width: fit-content;
  margin: 10% 46%;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .carousel {
    height: fit-content;
  }

  .carousel-monster-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .carousel-img {
    height: 20vh;
    margin: 5% 0;
  }

  .carousel-monster-stats {
    width: 96%;
  }

  .monster {
    padding: 2%;
    justify-content: flex-start;
  }
}
