* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background: #310;
  padding: 1vh 1vw;
}

h1 {
  text-align: center;
  font-size: min(6vw, 58px);
  color: lightgreen;
  margin-bottom: 1em;
}

.rules-description {
  height: 20vh;
  margin-bottom: 2em;
}

#start-container {
  display: flex;
  justify-content: center;
}

.carousel {
  height: 40vh;
  max-width: 937px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carousel-monster-container {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-img-container{
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.carousel-img {
  height: 100%;
  /* box-shadow: 0 0 8px 8px #310 inset; */
  /* width: 60%; */
}

.carousel-monster-stats {
  height: 95%;
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel-monster-stats p {
  color: lightgreen;
}

#carousel-button-container {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.battle {
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  padding-top: 4vh;
}

.monster {
  height: 90%;
  width: 30%;
}

.monster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  /* width: 98%; */
  max-width: 25vw;
  margin-bottom: 3%;
}

.description {
  width: 98%;
  height: 48%;
}

.description p {
  color: lightgreen;
}

#battle-log {
  height: fit-content;
  max-height: 90%;
  width: 30%;
  padding: .25em;
  color: lightgreen;
  font-size: 2vw;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}

#battle-log p {
  font-size: .75em;
  margin-bottom: .25em;
}

.dim {
  opacity: 0.25;

  transition: opacity .5s;
}

.modal {
  background-color: rgba(51, 17, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modal-textbox {
  background-color: rgb(51, 17, 0);
  height: 40vh;
  width: 60vw;
  margin: 30vh auto;
  border: 2px solid lightgreen;
}

.modal-textbox p {
  color: lightgreen;
}

.modal-button {
  width: 10%;
  margin: 0 auto;
}

.hide {
  display: none;
}

@media (max-width: 480px) {
  .carousel {
    height: fit-content;
  }
  .carousel-monster-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .carousel-img {
    height: 20vh;
  }
  .carousel-monster-stats {
    width: 96%;
  }
}
